*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#0b100d;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    padding:20px;
    font-family:Arial, sans-serif;
}

.navbar{
    width:100%;
    max-width:1450px;
    display:flex;
    align-items:center;
    gap:8px;
}

.nav-logo{
    flex:1;
    height:54px;
    border:1px solid rgba(255,255,255,0.8);
    border-radius:30px;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#f5e7cf;
    font-weight:600;
    background:linear-gradient(
        90deg,
        rgba(109,95,52,.25),
        rgba(109,95,52,.15)
    );
    cursor:pointer;
    transition:.4s;
}

.nav-menu{
    display:flex;
    gap:8px;
}

.nav-menu a,
.contact-btn{
    text-decoration:none;
    color:#f5e7cf;
    border:1px solid rgba(255,255,255,.8);
    border-radius:30px;
    height:54px;
    min-width:150px;
    padding:0 28px;
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
    overflow:hidden;
    transition:.35s ease;
}

.contact-btn{
    margin-left:auto;
    min-width:170px;
}

.nav-menu a::before,
.contact-btn::before,
.nav-logo::before{
    content:"";
    position:absolute;
    inset:0;
    background:#d6c7ab;
    transform:translateY(100%);
    transition:.35s ease;
    z-index:-1;
}

.nav-menu a:hover::before,
.contact-btn:hover::before,
.nav-logo:hover::before{
    transform:translateY(0);
}

.nav-menu a:hover,
.contact-btn:hover,
.nav-logo:hover{
    color:#161616;
    transform:translateY(-2px);
}

@media(max-width:900px){

    .navbar{
        flex-wrap:wrap;
    }

    .nav-logo{
        width:100%;
        flex:auto;
    }

    .nav-menu{
        width:100%;
        justify-content:center;
        flex-wrap:wrap;
    }

    .contact-btn{
        margin:auto;
    }
}
/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background:#ffffff;
    padding:40px;
}

.museum-grid{
    display:grid;
    place-items:center;
}


.museum-card{
    background:#f7b3a8; /* Salmon Pink */
    width:350px;
    overflow:hidden;
    color:#4b2e20; /* Dark Brown */
    padding-bottom:25px;
}

.image-wrapper{
    overflow:hidden;
}

.image-wrapper img{
    width:100%;
    display:block;
    transform:scale(1.1); /* slightly enlarged initially */
    transition:transform 0.6s ease;
}

/* Shrink image on hover */
.museum-card:hover .image-wrapper img{
    transform:scale(1);
}





.content{
    padding:24px;
}

.content h3{
    font-size:13px;
    letter-spacing:2px;
    text-transform:uppercase;
    margin-bottom:16px;
    font-weight:500;
}

.content h1{
    font-size:38px;
    line-height:1.1;
    margin-bottom:30px;
    font-weight:500;
    text-decoration:underline;
    text-decoration-thickness:2px;
    text-underline-offset:8px;
}


.cta{
    text-decoration:none;
    color:#4b2e20;
    font-size:14px;
    display:inline-flex;
    align-items:center;
    gap:8px;
    font-weight:500;
}

.cta span{
    font-size:16px;
    transition:transform 0.3s ease;
}

.cta:hover span{
    transform:translateX(5px);
}
